ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

hr {
  background: #d0d7d9;
  height: 1px;
  margin: 20px 0 20px 0;
  border: none;
}

#map {
  height: 600px;
}

#scroll-container {
  display: block;
  height: 385px;
  overflow: auto;
  margin-bottom: 10px;
}

.text {
  font-size: 12px;
}
.info-window-content {
  width: 100%;
}

.ui-accordion-content {
  height: 300px;
}

.title {
  text-align: center;
}

#theimg {
  align-content: center;
}

#thebody {
  padding-top: 10px;
}

a.btn.btn-default.btn-block {
  margin-left: inherit;
}